@model ProductVM

<form method="post" enctype="multipart/form-data">
	<input asp-for="Product.Id" hidden />
	<div class="border p-3 mt-4">
		<div class="row bp-2">
			<h2>@(Model.Product.Id!=0?"Update":"Create") Product</h2>
			<hr />
		</div>

		<div>
			<div class="mb-3 row">
				<label asp-for="Product.Title">Title</label>
				<input asp-for="Product.Title" class="form-control" />
				<span asp-validation-for="Product.Title" class="text-danger"></span>
			</div>
			<div class="mb-3 row">
				<label asp-for="Product.Author">Author</label>
				<input asp-for="Product.Author" class="form-control" />
				<span asp-validation-for="Product.Author" class="text-danger"></span>
			</div>
			<div class="mb-3 row">
				<label asp-for="Product.Description">Description</label>
				<input asp-for="Product.Description" class="form-control" />
				<span asp-validation-for="Product.Description" class="text-danger"></span>
			</div>
			<div class="mb-3 row">
				<label asp-for="Product.ISBN">ISBN</label>
				<input asp-for="Product.ISBN" class="form-control" />
				<span asp-validation-for="Product.ISBN" class="text-danger"></span>
			</div>
			<div class="mb-3 row">
				<label asp-for="Product.Price">Price</label>
				<input asp-for="Product.Price" class="form-control" />
				<span asp-validation-for="Product.Price" class="text-danger"></span>
			</div>
			<div class="mb-3 row">
				<label asp-for="Product.CategoryId"></label>
				<select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
					<option disabled selected>--Select Category--</option>
				</select>
				<span asp-validation-for="Product.CategoryId" class="text-danger"></span>
			</div>
			<div class="mb-3 row">
				<label asp-for="Product.ImgUrl">Image</label>
				<input type="file" class="form-control" />
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				@if (Model.Product.Id != 0)
				{
					<button type="submit" class="btn btn-primary form-control">Update</button>
				}
				else
				{
					<button type="submit" class="btn btn-primary form-control">Create</button>
				}
			</div>
			<div class="col-6">
				<a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary form-control">Back to List</a>
			</div>
		</div>
	</div>
</form>

@section Scripts{
	@{
	<partial name="_ValidationScriptsPartial"/>
	}
}